# BUN_CONFIG_VERBOSE_FETCH=curl

PORT=3000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/svelysia

ENABLE_TRACING=true
OPEN_OBSERVE_URL=http://openobserve.svelysia.orb.local:5080
OPEN_OBSERVE_TOKEN=bHVhbmJ0MjFAZ21haWwuY29tOmFlVWpOeFVNVWlNc1F2SG0=
OPEN_OBSERVE_EMAIL=luanbt21@gmail.com
OPEN_OBSERVE_PASSWORD=123456
OPEN_OBSERVE_ORGANIZATION=luanbt21
OPEN_OBSERVE_STREAM_NAME=svelysia

ORIGIN="http://localhost:5173"
BETTER_AUTH_SECRET=aEHNFJ1eW3O4JZrnw6xnQYOdyjuHMbwLd5cy3qbqDyc=
BETTER_AUTH_URL=http://localhost:3000
# Google OAuth
# https://www.better-auth.com/docs/authentication/google
GOOGLE_CLIENT_ID=test
GOOGLE_CLIENT_SECRET=test
# GitHub OAuth
# https://www.better-auth.com/docs/authentication/github
GITHUB_CLIENT_ID="test"
GITHUB_CLIENT_SECRET="test"

AWS_ACCESS_KEY_ID="rustfsadmin"
AWS_SECRET_ACCESS_KEY="rustfsadmin"
S3_ENDPOINT="http://localhost:9999"
AWS_REGION="us-east-1"
S3_BUCKET="svelysia"